body {
  background-color: #1B1D1E;
  color: #BDB7AF;
  font-family: Helvetica, Arial, sans-serif;
}


a {
  color: #6AA2E6;
}

a:visited {
  color: #A55FE0;
}

.recipe-container {
  width: 600px;
}

.heading {
  color: #CDC8C2;
}
